{% extends "layout.html" %}
{% block title %}
{% include "title.html" %}
{% endblock %}
{% block body_sidebar %}
{% if call_or_get(current_user.is_authenticated) %}
    {% include 'sidebar_member.html' %}
{% else %}
    {% include 'sidebar_visitor.html' %}
{% endif %}
{% endblock %}
{% block body_content %}
<div class="container col-container-margin">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div id="logo" class="text-center">
                <h1>{%trans%}BanYG{%endtrans%}</h1><p>{%trans%}Nothing can not be shipped{%endtrans%}</p>
            </div>
            <form role="form" id="form-buscar" method="POST" action="/">
                {{ form.csrf_token }}
                <div class="form-group">
                    <div class="input-group">
                        {{ form.file_url(class="form-control", placeholder=form.file_url.label.text, required="required") }}
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">
                                <i class="glyphicon glyphicon-search" aria-hidden="true"></i>{%trans%}Search{%endtrans%}
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        {% if fmts_form %}
        <br />
        <br />
        <br />
        <div class="col-md-8 col-md-offset-2">
            <p>{{ fmts_form.file_title }}:</p>
            <table class="table table-hover table-bordered search-result-table">
                <tr>
                    <th class="text-center">File Formate</th>
                    <th class="text-center">File Size</th>
                    <th class="text-center">File Download</th>
                </tr>
                {% for fmt in fmts_form.video_fmts %}
                <tr>
                    <td class="text-center">{{ fmt.file_format.data }}</td>
                    <td class="text-center">{{ fmt.file_size.data | human_readable }}</td>
                    <td class="text-center">
                        <a target="_blank" href="/files/{{fmt.file_format_id.data}}/{{fmts_form.url_uuid}}">
                            Download
                            <i class="glyphicon glyphicon-download-alt" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block footer %}
{% include "footer.html" %}
{% endblock %}

{% block sidebar_js %}
{% include "sidebar_js.html"%}
{% endblock %}