{% block body %}
<div class="wrap">
    <div class="overlay"></div>
    <!-- 左边内容 -->
    <div id="left" class="left">
        <div class="inner-container">
            <div id="logoDiv" class="logoDiv">
                <p id="logoTitle" class="logoTitle text-center">
                    <span style="font-size:24px;">后台管理</span>
                </p>
            </div>

            <div class="outer-container">
                <div>
                    <div class="menu-title">下载管理：</div>
                    <a class="menu-item btn" href="#one">
                         －免费下载单次最大值
                    </a>
                    <a class="menu-item btn" href="#two">
                         －免费下载一天免费额
                    </a>
                    <a class="menu-item btn" href="#three">
                         －免费下载时间间隔
                    </a>
                    <a class="menu-item btn" href="#two">
                         －免费下载搜索有效值
                    </a>
                    <a class="menu-item btn" href="#two">
                         －注册下载搜索有效值
                    </a>
                    <div class="menu-title">速度管理：</div>
                    <a class="menu-item btn" href="#two">
                         －免费下载速度
                    </a>
                    <a class="menu-item btn" href="#two">
                         －注册用户速度
                    </a>
                    <a class="menu-item btn" href="#two">
                         －会员下载速度
                    </a>
                    <div class="menu-title">通知管理：</div>
                    <a class="menu-item btn" href="#three">
                         －添加新通知
                    </a>
                    <a class="menu-item btn" href="#four">
                         －修改当前通知
                    </a>

                    <a class="menu-item btn" href="#four">
                         －修改当前通知
                    </a>
                    <a class="menu-item btn" href="#four">
                         －修改当前通知
                    </a>
                    <a class="menu-item btn" href="#four">
                         －修改当前通知
                    </a>
                    <a class="menu-item btn" href="#four">
                         －修改当前通知
                    </a>
                    <a class="menu-item btn" href="#four">
                         －修改当前通知
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- 右边内容 -->
    <div id="right" class="right">
        <div id="one" class="data-block-content">
            <span class="data-block-head">
                下载管理：
            </span>
            <div>
                下载管理：
            </div>
            <div>
                下载管理：
            </div>
            <div>
                下载管理：
            </div>
            <div>
                下载管理：
            </div>
            <div>
                下载管理：
            </div>
            <div>
                下载管理：
            </div>
        </div>
        <div id="two" class="data-block-content">
             <span class="data-block-head">
                   速度管理：
            </span>
        </div>
        <div id="three" class="data-block-content">
             <span class="data-block-head">
                   通知管理：
            </span>
        </div>
    </div>
</div>

{% endblock %}